<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Album Form</title>
</head>

<body>
<a href="/">Home</a><br/>
<a href="/albumlist">Album list</a>&nbsp;&nbsp;<a href="/songlist">Song list</a><br/>
<a href="/addalbum">Add an Album</a>&nbsp;&nbsp;<a href="/addsong">Add a Song</a><br/>

        <h1 >Album Form</h1>

        <form action="#" th:action="@{/processalbum}" th:object="${album}" method="post">

            <input type="hidden" th:field="*{id}" />

            Album Name:&nbsp;<input type="text" th:field="*{name}" />

            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <br>
            Company Name:&nbsp;<input type="text" th:field="*{company}" />

            <span th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></span>
            <br>
            <input type="submit" value="Submit" />

        </form>

</body>

</html>
