<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/myCss.css" rel="stylesheet" type="text/css" />

    <title>Album List</title>

</head>

<body>
<a href="/">Home</a><br/>
<a href="/songlist">Song list</a><br/>
<h1 >Album List</h1><a href="/addalbum">Add an Album</a>&nbsp;&nbsp;<a href="/addsong">Add a Song</a>

        <table class="content-table">
            <tr>
                <th>Album Name&nbsp;</th>
                <th>Company Name</th>
            </tr>

            <tr th:each="album : ${albums}">
                <td th:text="${album.name}"></td>
                <td th:text="${album.company}"></td>
                <td>
                    <a th:href="@{/update_album/{id}(id=${album.id})}">Update</a>
                    <a th:href="@{/detail_album/{id}(id=${album.id})}">Details</a>
                    <a th:href="@{/delete_album/{id}(id=${album.id})}">Delete</a>
                </td>
            </tr>
        </table>

<div th:each="album:${albums}">
    <h2 th:text="${album.name}"></h2>
    <h6 th:inline="text"> is belonged to [[${album.company}]].</h6>
    <ul>
        <th:block th:each="song:${album.songs}">
            <li th:inline="text"><b>[[${song.songname}]]: </b>[[${song.description}]]</li>
        </th:block>
    </ul>


</div>

</body>

</html>